body {
    font-family: Arial, sans-serif;
}

/* h2-Titulos */
h2 {
    margin-bottom: 20px;
}

/* .card-Tarjetas */
.card {
    margin-top: 20px;
    transition: transform 0.3s;
}

/* Efecto-Escala */
.card:hover {
    transform: scale(1.05);
}

/* Secciones */
section {
    scroll-margin-top: 70px;
}